In [9]:
import pandas as pd
import matplotlib.pyplot as plt
import lightgbm as lgb
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn import tree
import numpy as np
import category_encoders as ce
import warnings
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv('data/train.csv')

In [3]:
X = data[['Pclass', 'Age', 'Sex', 'SibSp', 'Parch', 'Fare', 'Embarked']]
X.head()

   Pclass   Age     Sex  SibSp  Parch     Fare Embarked
0       3  22.0    male      1      0   7.2500        S
1       1  38.0  female      1      0  71.2833        C
2       3  26.0  female      0      0   7.9250        S
3       1  35.0  female      1      0  53.1000        S
4       3  35.0    male      0      0   8.0500        S

In [4]:
y = data[['Survived']]
y

     Survived
0           0
1           1
2           1
3           1
4           0
..        ...
886         0
887         1
888         0
889         1
890         0

[891 rows x 1 columns]

In [5]:
X['Age'].fillna(X['Age'].median(skipna=True), inplace=True)
X['Embarked'].fillna(X['Embarked'].value_counts().idxmax(), inplace=True)

In [6]:
encoder = ce.OrdinalEncoder(cols=['Sex', 'Embarked'])
X = encoder.fit_transform(X)
X

     Pclass   Age  Sex  SibSp  Parch     Fare  Embarked
0         3  22.0    1      1      0   7.2500         1
1         1  38.0    2      1      0  71.2833         2
2         3  26.0    2      0      0   7.9250         1
3         1  35.0    2      1      0  53.1000         1
4         3  35.0    1      0      0   8.0500         1
..      ...   ...  ...    ...    ...      ...       ...
886       2  27.0    1      0      0  13.0000         1
887       1  19.0    2      0      0  30.0000         1
888       3  28.0    2      1      2  23.4500         1
889       1  26.0    1      0      0  30.0000         2
890       3  32.0    1      0      0   7.7500         3

[891 rows x 7 columns]

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=8)

In [8]:
X_train.shape, y_test.shape

((712, 7), (179, 1))

In [10]:
fit_params={"early_stopping_rounds":30, 
            "eval_metric" : 'auc', 
            "eval_set" : [(X_test,y_test)],
            'eval_names': ['valid'],
            'verbose': 100,
            'categorical_feature': 'auto'}

In [11]:
from scipy.stats import randint as sp_randint
from scipy.stats import uniform as sp_uniform
param_test ={'num_leaves': sp_randint(6, 50), 
             'min_child_samples': sp_randint(100, 500), 
             'min_child_weight': [1e-5, 1e-3, 1e-2, 1e-1, 1, 1e1, 1e2, 1e3, 1e4],
             'subsample': sp_uniform(loc=0.2, scale=0.8), 
             'colsample_bytree': sp_uniform(loc=0.4, scale=0.6),
             'reg_alpha': [0, 1e-1, 1, 2, 5, 7, 10, 50, 100],
             'reg_lambda': [0, 1e-1, 1, 5, 10, 20, 50, 100]}

In [13]:
n_HP_points_to_test = 100

clf = lgb.LGBMClassifier(max_depth=-1, random_state=314, silent=True, metric='None', n_jobs=4, n_estimators=5000)
gs = RandomizedSearchCV(
    estimator=clf, param_distributions=param_test, 
    n_iter=n_HP_points_to_test,
    scoring='roc_auc',
    cv=3,
    refit=True,
    random_state=314,
    verbose=True)
# best_model = gs.best_estimator_

In [16]:
gs.fit(X_train, y_train, **fit_params)
print('Best score reached: {} with params: {} '.format(gs.best_score_, gs.best_params_))

Fitting 3 folds for each of 100 candidates, totalling 300 fits
[100]	valid's auc: 0.78482
[100]	valid's auc: 0.789776
[100]	valid's auc: 0.809077
[100]	valid's auc: 0.801187
Best score reached: 0.8517240758737357 with params: {'colsample_bytree': 0.5284213741879101, 'min_child_samples': 125, 'min_child_weight': 10.0, 'num_leaves': 22, 'reg_alpha': 0.1, 'reg_lambda': 20, 'subsample': 0.3080033455431848}

In [19]:
best_model= gs.best_estimator_

In [20]:
accuracy_score(y_test, best_model.predict(X_test))

0.7374301675977654

In [21]:
f1_score(y_test, best_model.predict(X_test))

0.6466165413533835

In [22]:
print(confusion_matrix(y_test, best_model.predict(X_test)))

[[89 19]
 [28 43]]

In [23]:
print(classification_report(y_test, best_model.predict(X_test)))

              precision    recall  f1-score   support

           0       0.76      0.82      0.79       108
           1       0.69      0.61      0.65        71

    accuracy                           0.74       179
   macro avg       0.73      0.71      0.72       179
weighted avg       0.73      0.74      0.73       179